<div id="<%= dom_id shift_type %>">
  <p>
    <strong>Name:</strong>
    <%= shift_type.name %>
  </p>

  <p>
    <strong>Start hour:</strong>
    <%= shift_type.start_hour %>
  </p>

  <p>
    <strong>End hour:</strong>
    <%= shift_type.end_hour %>
  </p>

</div>
