<h1>Editing shift type</h1>

<%= render "form", work_category_shift_type: @work_category_shift_type %>

<br>

<div>
  <%= link_to "Show this shift type", @work_category_shift_type %> |
  <%= link_to "Back to shift types", work_category_shift_types_path %>
</div>
